node_modules
yarn-error.log
dist
build
.DS_Store
examples
tmp
pnpm-debug.log
sandbox
*.tsbuildinfo
# Local Netlify folder
.netlify
db.json
# Ignore files containing environment variables
.env*

public